{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{{ project }}</li>
    <li class="breadcrumb-back">{% trans 'project dashboard' %}</li>
{% endblock %}

{% block content %}
<section class="P001">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="huge">{% trans 'teamwork' %}</div>
                </div>
                <div class="panel-body" style="height: 200px; overflow-y: scroll;">
                    {% for member in project.members.all %}
                        <p><span class="badge">{{ forloop.counter }}</span>&nbsp;{{ member }}&nbsp;&raquo;&nbsp;{% trans member.responsibility %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="huge">{% trans 'the performance' %}</div>
                </div>
                <div class="panel-body" style="height: 200px;">
                    <p style="color: {{ priority_list.colors.IMPORTANT_AND_URGENT }};">{% trans priority_list.IMPORTANT_AND_URGENT %}&nbsp;{% percentage number=project.important_and_urgent total=project.total %}</p>
                    <p style="color: {{ priority_list.colors.IMPORTANT_AND_NOT_URGENT }};">{% trans priority_list.IMPORTANT_AND_NOT_URGENT %}&nbsp;{% percentage number=project.important_and_not_urgent total=project.total %}</p>
                    <p style="color: {{ priority_list.colors.NOT_IMPORTANT_AND_URGENT }};">{% trans priority_list.NOT_IMPORTANT_AND_URGENT %}&nbsp;{% percentage number=project.not_important_and_urgent total=project.total %}</p>
                    <p style="color: {{ priority_list.colors.NOT_IMPORTANT_AND_NOT_URGENT }};">{% trans priority_list.NOT_IMPORTANT_AND_NOT_URGENT %}&nbsp;{% percentage number=project.not_important_and_not_urgent total=project.total %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="huge">{% trans 'the compeletion' %}</div>
                </div>
                <div class="panel-body" style="height: 200px;">
                    <p style="color: {{ completion_list.colors.OPEN }};">{% trans completion_list.OPEN %}&nbsp;{% percentage number=project.open total=project.total %}</p>
                    <p style="color: {{ completion_list.colors.CLOSE }};">{% trans completion_list.CLOSE %}&nbsp;{% percentage number=project.close total=project.total %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'P001:project-task-add' project_id=project.pk %}" class="general-link">
                <i class="fa fa-fas fa-plus-square" aria-hidden="true"></i>&nbsp;{% trans 'add' %}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="3%">&nbsp;</th>
                        <th style="width: 27%; text-align: right;">{% trans 'the task' %}</th>
                        <th style="width: 15%; text-align: right;">{% trans 'priority' %}</th>
                        <th style="width: 15%; text-align: right;">{% trans 'assigned to' %}</th>
                        <th style="width: 20%; text-align: right;">{% trans 'start date' %}&nbsp;/&nbsp;{% trans 'end date' %}</th>
                        <th style="width: 10%; text-align: right;">{% trans 'completion' %}</th>
                        <th style="width: 15%; text-align: center;">{% trans 'settings' %}</th>
                    </tr>
                </thead>
                <tbody>
        
                {% trans 'edit' as edit_str %}
                {% trans 'delete' as delete_str %}

                {% for task in project.tasks.all %}
                    <tr role="row" class="odd">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td align="right">
                            <a href="{% url 'Core:task-prepare' task_id=task.pk %}" class="general-link">
                                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;{% trans 'task board' %}
                            </a>
                            &nbsp;
                            {{ task }}
                        </td>
                        <td align="right">
                            <span style="color: {{ task.get_priority_color }}">{% trans task.priority %}</span>
                            &nbsp;/&nbsp;
                            <span style="color: {{ task.get_execution_status_color }};">{% trans task.execution_status %}</span>
                        </td>
                        <td align="right">{{ task.assigned_to.get_full_name }}</td>
                        <td align="right"><span class="hint">{{ task.start_date }}&nbsp;/&nbsp;{{ task.end_date }}&nbsp;[&nbsp;{{ task.duration }}&nbsp;{% trans 'day' %}&nbsp;]</span></td>
                        <td align="right"><span style="color: {{ task.get_completion_status_color }};">{% trans task.completion %}</span></td>
                        <td align="center">
                            <a href="{% url 'P001:project-task-edit' project_id=project.pk id=task.pk %}" class="general-link">
                                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;{{ edit_str }}
                            </a>
                            &nbsp;&nbsp;
                            <a href="{% url 'P001:project-task-confirm' project_id=project.pk id=task.pk %}" data-toggle='modal' data-target='#modal' class="general-link">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{{ delete_str }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>  
</section>
<div class="divider"></div>
<section class="keys">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            {% for priority in priority_list.colors.items %}
                <i class="fa fa-fas fa-circle" style="color: {{ priority.1 }}"></i>&nbsp;{% trans priority.0 %}<br>
            {% endfor %}
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            {% for completion in completion_list.colors.items %}
                <i class="fa fa-fas fa-circle" style="color: {{ completion.1 }}"></i>&nbsp;{% trans completion.0 %}<br>
            {% endfor %}
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            {% for execution in execution_list.colors.items %}
                <i class="fa fa-fas fa-circle" style="color: {{ execution.1 }}"></i>&nbsp;{% trans execution.0 %}<br>
            {% endfor %}
        <div class="col-lg-2"></div>
        </div>
    </div>
</section>

{% endblock %}