{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{{ project }}</li>
    <li class="breadcrumb-back">{% trans 'project management' %}</li>
{% endblock %}
{% block content %}
<section class="project-data">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12" style="direction: ltr; text-align: center">
                <div id="chartContainer"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <form action="{% url 'P001:project-update-data' project_id=project.pk %}" method="POST">
                <table class="table">
                    {% csrf_token %}
                    {{ project_form.as_table }}
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-warning">{% trans 'update' %}</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</section>

<div class="header-links">
    <a href="{% url 'P001:project-member-add' project_id=project.pk %}" class="general-link">
        <i class="fa fa-fas fa-plus-square" aria-hidden="true"></i>&nbsp;{% trans 'add' %}
    </a>
</div>

<section class="project-data">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="5%">&nbsp;</th>
                        <th style="width: 25%; text-align: right;">{% trans 'memeber' %}</th>
                        <th style="width: 20%; text-align: right;">{% trans 'responsibility' %}</th>
                        <th style="width: 25%; text-align: right;">{% trans 'privileges' %}</th>
                        <th style="width: 20%; text-align: center;">{% trans 'settings' %}</th>
                    </tr>
                </thead>
                <tbody>
        
                {% trans 'edit' as edit_str %}
                {% trans 'delete' as delete_str %}

                {% for member in project.members.all %}
                    <tr role="row" class="odd">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td align="right">{{ member }}</td>
                        <td align="right">{% trans member.responsibility %}</td>
                        <td align="right">{{ member.privileges }}</td>
                        <td align="center">
                            {% if member.user.pk != project.manager.pk%}
                                <a href="{% url 'P001:project-member-edit' project_id=project.pk id=member.pk %}" class="general-link">
                                    <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;{{ edit_str }}
                                </a>
                                &nbsp;&nbsp;
                                <a href="{% url 'P001:project-member-confirm' project_id=project.pk id=member.pk %}" data-toggle='modal' data-target='#modal' class="general-link">
                                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{{ delete_str }}
                                </a>
                            {% else %}
                                <span class="hint">{% trans 'project manager' %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>    
</section>
{% endblock %}
{% block footer %}
    {% GoalHierarchicalDiagram goal_id=start_goal.pk specific_node_tree=project.operational_project containerId='chartContainer' %}    
{% endblock %}