{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:project-management' project_id=project.pk %}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P013' %}</li>
    <li class="breadcrumb-back">{{ project }}</li>
    <li class="breadcrumb-back">{% trans 'member addition' %}</li>
{% endblock %}
{% block content %}
<section class="add">
    <form action="{% url 'P001:project-member-update' project_id=project.pk id=member.pk %}" method="POST">
        <table class="table">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-warning">{% trans 'update' %}</button></td>
            </tr>
        </table>
    </form>
</section>

{% endblock %}