{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ request.organization }} : {% block page_title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'theme/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static 'theme/css/font-awesome/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'theme/css/map-custom.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom css -->
    {% block app_custom_css %}{% endblock %}    
    {% block header %}{% endblock %}
</head>

<body>       

    {% block content %}{% endblock %}
   
    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'theme/js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'theme/js/bootstrap.min.js' %}"></script>

</body>

</html>