{% extends "base/header/modal_header.html" %}
{% load i18n %}
{% load static %}
{% block modal-header %}{% trans 'delete' %}{% endblock %}
{% block modal-body %}
<section class="delete">
    <p>{{ parameter.name }}:{{ parameter.value }}</p>
    <a href="{% url 'Core:parameter-destroy' package_id=package.pk program_id=program.pk menu_id=menu.pk operation_id=operation.pk id=parameter.pk  %}" class="btn btn-danger submit-link">{% trans 'confirm' %}</a>
</section>
{% endblock %}
{% block modal-footer %}{% endblock %}