{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load presentation_tags %}
{% block page_title %}{% trans 'home' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'Core:program-dashboard' package_id=package.pk program_id=program.pk %}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{{ package}}</li>
    <li class="breadcrumb-back">{{ program}}</li>
    <li class="breadcrumb-back">{{ menu }}</li>
    <li class="breadcrumb-back">{{ operation }}</li>
{% endblock %}
{% block content %}
    <div class="header-links">
        <a href="{% url 'Core:parameter-add' package_id=package.pk program_id=program.pk menu_id=menu.pk operation_id=operation.pk %}">{% trans 'add' %}</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th width="5%">&nbsp;</th>
            <th style="width: 20%; text-align: right;">{% trans 'name' %}</th>
            <th style="width: 50%; text-align: right;">{% trans 'value' %}</th>
            <th style="width: 25%; text-align: center;">{% trans 'settings' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for parameter in operation.parameters.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td align="right">{{ parameter.name }}</td>
                <td align="right">{{ parameter.value }}</td>
                <td align="center">
                    <a href="{% url 'Core:parameter-edit' package_id=package.pk program_id=program.pk menu_id=menu.pk operation_id=operation.pk id=parameter.pk %}">{% trans 'edit' %}</a>
                    &nbsp;
                    <a href="{% url 'Core:parameter-confirm' package_id=package.pk program_id=program.pk menu_id=menu.pk operation_id=operation.pk id=parameter.pk %}" data-toggle='modal' data-target='#modal' >{% trans 'delete' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}