{% extends "base/header/modal_header.html" %}
{% load i18n %}
{% load static %}
{% block modal-header %}{% trans 'add' %}{% endblock %}
{% block modal-body %}
<section class="edit">
    <form action="{% url 'P001:training-insert' %}" method="POST">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
            <tr>
                <td width="15%"></td>
                <td width="85%"><button type="submit" class="btn btn-success">{% trans 'save' %}</button></td>
            </tr>
        </table>
    </form>
</section>
{% endblock %}
{% block modal-footer %}{% endblock %}