{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load presentation_tags %}
{% block page_title %}{% trans 'home' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'Core:home' %}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{{ request.organization }}</li>
    <li class="breadcrumb-back">{% trans 'system versions' %}</li>
{% endblock %}
{% block content %}
<section>
    <div class="header-links">
        <a href="{% url 'Core:version-add' %}">{% trans 'add' %}</a>
    </div>

    <table class="table table-hover">
        <thead>
            <th style="width:5%; text-align: center;">&nbsp;</th>
            <th style="width:15%;">{% trans 'name' %}</th>
            <th style="width:10%; text-align: center;">{% trans 'start date' %}</th>
            <th style="width:10%; text-align: center;">{% trans 'end date' %}</th>
            <th style="width:30%; text-align: {{ LANGUAGE_START }};">{% trans 'description' %}</th>
            <th style="width:15%; text-align: center;">{% trans 'refinements' %}</th>
            <th style="width:15%; text-align: center;">{% trans 'settings' %}</th>
        </thead>
        <tbody>
            {% for version in versions %}
            <tr>
                <td align="center">{{ version.order }}</td>
                <td>{{ version }}</td>
                <td align="center">{{ version.start_date }}</td>
                <td align="center">{{ version.end_date }}</td>
                <td align="{{ LANGUAGE_START }}">{{ version.description }}</td>
                <td align="center"><a href="{% url 'Core:version-refinements' version_id=version.pk %}">{% trans 'refinements' %}&nbsp;<span class="hint">[&nbsp;{{ version.refinements.count }}&nbsp;]</span></a></td>
                <td align="center">
                    <a href="{% url 'Core:version-edit' version_id=version.pk %}">{% trans 'edit' %}</a>
                    &nbsp;
                    <a href="{% url 'Core:version-confirm' version_id=version.pk %}" data-toggle='modal' data-target='#modal' >{% trans 'delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>    
{% endblock %}