{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% load workflow_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:user-logs'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{{ day_object.date }}</li>
{% endblock %}
{% block content %}
<section class="work">
    <table class="table">
        <thead>
            <tr>
                <th width="5%">&nbsp;</th>
                <th width="20%">{% trans 'type' %}</th>
                <th width="20%">{% trans 'day in week' %}</th>
                <th width="20%">{% trans 'details' %}</th>
            </tr>
        </thead>
    {% for log in day_object.logs.all %}
        <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td align="center">{{ log.get_object }}</td>
            <td align="center">{{ log.day.day_in_week }}</td>
            <td align="center">{% RequestRowLinks request=log.get_object.request.get status=False browse=True log=False %}</td>
        </tr>
    {% endfor %}
    </table>
</section>
{% endblock %}