{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'logs' %}</li>
{% endblock %}
{% block content %}
<section class="work">
    <table class="table table-striped table-bordered dataTable">
        <thead>
            <tr role="row">
                <th style="width: 5%;"></th>
                <th style="width: 20%;">{% trans 'day' %}</th>
                <th style="width: 75%; text-align: {{ LANGUAGE_START }}">{% trans 'setting' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr role="row" class="odd">
                <td style="text-align: center;">{{ forloop.counter }}</td>
                <td style="text-align: center;">{{ day.date }}</td>
                <td align="{{ LANGUAGE_START }}">
                    <a href="{% url 'P001:user-log-day' day_id=day.pk %}" class="general-link">
                        {% trans 'day logs' %}
                        <span class="hint">&nbsp;[&nbsp;{{ day.logs.count }}&nbsp;]</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}