{% load static %}
{% load i18n %}

{% if form %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#form" data-toggle="tab">{% trans 'form data' %}</a></li>
        {% if requestObject.action.type == with_children %}
        <li><a href="#branching" data-toggle="tab">{% trans 'branching' %}</a></li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade  in active" id="form">
            <form action="#" method="POST">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table}}
                    <tr>
                        <td width="20%">&nbsp;</td>
                        <td width="80%">
                            <button type="submit" class="btn btn-success">{% trans 'save' %}</button>
                        </td>
                    <tr>
                </table>
            </form>
        </div>
        <div class="tab-pane fade" id="branching">
            <table class="table">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="25%">{% trans 'choice' %}</td>
                    <td width="70%">{% trans 'redirect to' %}</td>
                </tr>
                {% for track in requestObject.action.tracks.all %}
                    <tr>
                        <td width="5%">{{ forloop.counter }}</td>
                        <td width="25%">{% trans track.name %}</td>
                        <td width="70%">{{ track.redirect_to }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}