{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load archive_tags %}
{% block page_title %}{% trans 'managerial communications' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{% trans 'managerial communications' %}</li>
    <li class="breadcrumb-back">{{ folder.get_name }}</li>
{% endblock %}
{% block content %}
<section class="add">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <div class="header-links">
                <a href="{% url 'P001:archives-transaction-add' folder_id=folder.pk %}" class="general-link">
                    <i class="fa fa-fas fa-plus-square" aria-hidden="true"></i>&nbsp;{% trans 'create archive transaction' %}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            {% employee_folders_menu current_folder_id=folder.pk %}
        </div>
        <div class="col-lg-10">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" style="width: 5%;"></th>
                        <th class="sorting" style="width: 50%; text-align: right;">{% trans 'transaction' %}</th>
                        <th class="sorting" style="width: 10%;">{% trans 'type' %}</th>
                        <th class="sorting" style="width: 15%;">{% trans 'created_at' %}</th>
                        <th class="sorting" style="width: 20%;">{% trans 'setting' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for referral in folder.referrals.all %}
                    <tr role="row" class="odd">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td>
                            [&nbsp;
                                <a href="{% url 'P003:archives-transaction-prepare' folder_id=folder.pk referral_id=referral.pk %}" class="general-link">
                                    {% trans 'open' %}
                                </a>
                            &nbsp;]
                            &nbsp;
                            {{ referral }}
                        </td>
                        <td align="center">{% trans referral.type %}</td>
                        <td align="center">{{ referral.created_at }}</td>
                        <td align="center">
                            <a href="{% url 'P001:archives-transaction-edit' folder_id=folder.pk id=referral.transaction.pk %}" class="general-link">
                                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;{% trans 'edit' %}
                            </a>
                            &nbsp;&nbsp;
                            <a href="{% url 'P001:archives-transaction-confirm' folder_id=folder.pk  id=referral.transaction.pk %}" data-toggle='modal' data-target='#modal' class="general-link">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{% trans 'delete' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}