{% extends "base/header/system_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <img src="{% static 'theme/images/bladalnoor.png' %}" alt="">
            </div>
            <div class="col-lg-4"></div>

            <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #00a8d8; color: #fff; align-content: right; padding: 20px;">
                <p>بلاد النور، إسم عمل مملوك لشركة كاشتا، وهي مؤسسة أعمال تعمل في مجال مبيعات مواد التغليف للمطاعم والمستشفيات والفنادق، تسعى بلاد النور مستقبلاً للتوسع في مجالات الصناعة والزراعة والإستيراد والتصدير.</p>
            </div>

        </div>
    </div>
    <div class="divider"></div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">مجالات العمل</a></li>
        <li><a href="#assets" data-toggle="tab">الأصول الثابتة</a></li>
        <li><a href="#liabilities" data-toggle="tab">الأصول المتداولة</a></li>
        <li><a href="#preparations" data-toggle="tab">الأصول المعنوية</a></li>
        <li><a href="#plan" data-toggle="tab">الخطة التشغيلية 2021</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">

            <div class="well">
                <p>تسعى بلاد النور للعمل في قطاعات السوق التقليدية كـ</p>
                <ol>
                    <li>التجارة</li>
                    <li>الزراعة</li>
                    <li>الصناعة</li>
                    <li>الإستيراد</li>
                    <li>التصدير</li>
                </ol>
            </div>

            <div class="well">
                <p>بدأت المؤسسة نشاطها بالعمل في التجارة عبر مبيعات مواد التغليف للمطاعم، نجحت المؤسسة إلى الآن في تأسيس مخزون مناسب من مواد التغليف وبناء شبكة عملاء وموردين.</p>
            </div>

            <div class="well">
                <p>تقوم شركة كاشتا بالتطوير التقني اللازم لدعم أنشطة مؤسسة بلاد النور عبر رفدها بالأنظمة التقنية وتطبيقات الجوال والدعم الفني.</p>
            </div>

        </div>
        <div class="tab-pane fade" id="plan">
            <div class="well">
                <h4>الأهداف</h4>
                <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="50%" style="text-align: right;">الأهداف العامة</td>
                        <td width="45%" style="text-align: right;">الأهداف التفصيلية</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">بناء مؤسسي قوي</td>
                        <td align="right"></td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">منظومة أدوات عمل قوية</td>
                        <td align="right"></td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">مضاعفة أصول الشركة</td>
                        <td align="right"></td>
                    </tr>
                </tbody>
                </table>                
            </div>

            <div class="divider"></div>

            <div class="well">
                <h4>فريق العمل</h4>
                <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="50%" style="text-align: right;">العضو</td>
                        <td width="45%" style="text-align: right;">المهمة</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">أحمد الطائف</td>
                        <td align="right">إدارة وتنفيذ عمليات المشتروات والمبيعات والعملاء والموردين والتوصيل والمحاسبة</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">أبوبكر الطائف</td>
                        <td align="right">التطوير التقني وتحليل البيانات ومراقبة وتحسين الأداء وصناعة الفرص</td>
                    </tr>
                </tbody>
                </table>                
            </div>
        </div>
        <div class="tab-pane fade" id="assets">
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">الأصل</td>
                        <td width="20%" style="text-align: right;">الحالة</td>
                        <td width="50%" style="text-align: right;">القيمة</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">جهاز PC DELL كامل</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">90000</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">مكتب خشب</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">18000</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">مكتب خشب ( موسكي ) </td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">18000</td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td align="right">لوحة ملاحظات</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">2500</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td align="right">منظومة كاميرات مراقبة كاملة</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">200000</td>
                    </tr>
                    <tr>
                        <td align="center">6</td>
                        <td align="right">خزنة</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">35000</td>
                    </tr>
                    <tr>
                        <td align="center">6</td>
                        <td align="right">خزنة</td>
                        <td align="right">سويتش شبكة</td>
                        <td align="right">70000</td>
                    </tr>
                    <tr>
                        <td align="center">7</td>
                        <td align="right">نظام مبيعات وإدارة مخازن</td>
                        <td align="right">Python/Django</td>
                        <td align="right">150000</td>
                    </tr>
                    <tr>
                        <td align="center">8</td>
                        <td align="right">تطبيق جوال</td>
                        <td align="right">للمبيعات ( تحت التطوير )</td>
                        <td align="right">170000</td>
                    </tr>
                    <tr style="background-color: #00a8d8; color: #fff;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="left">الإجمالي</td>
                        <td align="right">753,500</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="liabilities">
            <h4>البضاعة</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">الصنف</td>
                        <td width="20%" style="text-align: right;">العدد - الوحدة</td>
                        <td width="25%" style="text-align: right;">سعر البيع</td>
                        <td width="25%" style="text-align: right;">الإجمالي</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">كبابي بلاستيك</td>
                        <td align="right">33 كرتونة</td>
                        <td align="right">21000</td>
                        <td align="right">693000</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">أطباق مقاس 25</td>
                        <td align="right">2 كرتونة</td>
                        <td align="right">15000</td>
                        <td align="right">30000</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">مناديل</td>
                        <td align="right">6 كرتونة</td>
                        <td align="right">2700</td>
                        <td align="right">16200</td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td align="right">جونتي عادي</td>
                        <td align="right">6 كرتونة</td>
                        <td align="right">3500</td>
                        <td align="right">21000</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td align="right">كرتونة بيتزا كبيرة</td>
                        <td align="right">1 كرتونة</td>
                        <td align="right">8000</td>
                        <td align="right">8000</td>
                    </tr>
                    <tr>
                        <td align="center">6</td>
                        <td align="right">كبابي شاي ورق</td>
                        <td align="right">1 كرتونة</td>
                        <td align="right">7000</td>
                        <td align="right">7000</td>
                    </tr>
                    <tr>
                        <td align="center">7</td>
                        <td align="right">نايلون</td>
                        <td align="right">2 كرتونة</td>
                        <td align="right">15000</td>
                        <td align="right">30000</td>
                    </tr>
                    <tr>
                        <td align="center">8</td>
                        <td align="right">قصدير مقاس 2.5</td>
                        <td align="right">3 كرتونة</td>
                        <td align="right">35000</td>
                        <td align="right">105000</td>
                    </tr>
                    <tr>
                        <td align="center">9</td>
                        <td align="right">قصدير صغير</td>
                        <td align="right">1 كرتونة</td>
                        <td align="right">10000</td>
                        <td align="right">10000</td>
                    </tr>
                    <tr>
                        <td align="center">10</td>
                        <td align="right">أعواد شيش</td>
                        <td align="right">2 كرتونة</td>
                        <td align="right">12000</td>
                        <td align="right">24000</td>
                    </tr>
                    <tr>
                        <td align="center">11</td>
                        <td align="right">علب تومية</td>
                        <td align="right">28 كرتونة</td>
                        <td align="right">10000</td>
                        <td align="right">280000</td>
                    </tr>
                    <tr style="background-color: #00a8d8; color: #fff;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="left">الإجمالي</td>
                        <td align="right">1,224,200</td>
                    </tr>
                </tbody>
            </table>
            <div class="divider"></div>
            <h4>مدينون ( مبالغ لدى العملاء + الموردين )</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">العميل/المورد</td>
                        <td width="45%" style="text-align: right;">النوع</td>
                        <td width="25%" style="text-align: right;">القيمة</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">مطعم كتكوتي</td>
                        <td align="right">عميل</td>
                        <td align="right">60000</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">أقاشي العمارات</td>
                        <td align="right">عميل</td>
                        <td align="right">44000</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">مطعم كاكي</td>
                        <td align="right">عميل</td>
                        <td align="right">238000</td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td align="right">السناري</td>
                        <td align="right">مورد</td>
                        <td align="right">80000</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td align="right">في الحساب بنك الخرطوم</td>
                        <td align="right">البنك</td>
                        <td align="right">40000</td>
                    </tr>
                    <tr style="background-color: #00a8d8; color: #fff;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="left">الإجمالي</td>
                        <td align="right">462,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="preparations">
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="20%" style="text-align: right;">البند</td>
                        <td width="35%" style="text-align: right;">التفاصيل</td>
                        <td width="20%" style="text-align: right;">التكلفة التقديرية للإنشاء</td>
                        <td width="20%" style="text-align: right;"></td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">إجراءات تسجيل رسمية</td>
                        <td align="right">بالمسجل التجاري</td>
                        <td align="right">40000</td>
                        <td align="right"></td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">هوية مكتملة</td>
                        <td align="right">شعار + مطبوعات</td>
                        <td align="right">112500</td>
                        <td align="right">ما يعادل 300 دولار</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">شبكة عملاء</td>
                        <td align="right">مجموعة مطاعم تم التواصل معهم وزيارتهم مرات عديدة وإنشاء تعاملات مالية معهم</td>
                        <td align="right">75000</td>
                        <td align="right"></td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td align="right">شبكة موردين</td>
                        <td align="right">مجموعة مستوردين تم التواصل معهم وزيارتهم مرات عديدة وإنشاء تعاملات مالية معهم</td>
                        <td align="right">75000</td>
                        <td align="right"></td>
                    </tr>
                    <tr style="background-color: #00a8d8; color: #fff;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="left">الإجمالي</td>
                        <td align="right">266500</td>
                        <td align="right"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}