{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}

{% block page_title %}{% trans 'my data' %}{% endblock %}

{% block header %}
    {% comment %} <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <link href="{% static 'charts/highcharts.custom.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}

{% endblock %}

{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'my requests' %}</li>
{% endblock %}

{% block content %}
    <section class="request-chart">
        <div class="row">
            <div class="col-lg-2">{% userRequestsMenu %}</div>
            <div class="col-lg-10">

                <div class="row">
                    <div class="col-lg-6">&nbsp;</div>
                    <div class="col-lg-6">
                        <figure class="highcharts-figure">
                            <div id="chartContainer"></div>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% comment %} 
    <script>
        var chart = Highcharts.chart('chartContainer', {

            chart: {
                type: 'column'
            },

            title: {
                text: "{% trans 'requests diagram '%}"
            },

            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },

            xAxis: {
                categories: [
                    {% for counter in requestCounter%}
                        "{{ counter.status }}",
                    {% endfor %}
                    ],
                labels: {
                    x: -10
                }
            },

            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'Amount'
                }
            },

            series: [
            {% for counter in requestCounter%}
            {
                name: "{{ counter.status }}",
                data: [{{ counter.total }}]
            },
            {% endfor %}
            ],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        },
                        yAxis: {
                            labels: {
                                align: 'left',
                                x: 0,
                                y: -5
                            },
                            title: {
                                text: null
                            }
                        },
                        subtitle: {
                            text: null
                        },
                        credits: {
                            enabled: false
                        }
                    }
                }]
            }
        });

        document.getElementById('small').addEventListener('click', function () {
            chart.setSize(400);
        });

        document.getElementById('large').addEventListener('click', function () {
            chart.setSize(600);
        });

        document.getElementById('auto').addEventListener('click', function () {
            chart.setSize(null);
        });

    </script> {% endcomment %}
{% endblock %}