{% extends "base/header/modal_header.html" %}
{% load i18n %}
{% load static %}

{% block header %}
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>
{% endblock %}

{% block modal-header %}{% trans 'add' %}{% endblock %}
{% block modal-body %}
<section class="add">
    <form action="{% url 'P001:education-insert' %}" method="POST">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">{% trans 'save' %}</button></td>
            </tr>
        </table>
    </form>
</section>
{% endblock %}
{% block modal-footer %}{% endblock %}