{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}

{% block app_custom_css %}<link href="{% static 'theme/css/apps/P001.css' %}" rel="stylesheet" type="text/css">{% endblock %}
{% block page_title %}{% trans 'P001' %}{% endblock %}

{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'educations data' %}</li>
{% endblock %}

{% block content %}

<section class="educations">
        <div class="row">
            <div class="col-lg-2">{% userDataMenu %}</div>
            <div class="col-lg-10">
                <div class="header-links">
                    <a href="{% url 'P001:education-add' %}" data-toggle='modal' data-target='#modal' class="general-link">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;{% trans 'add' %}
                    </a>
                </div>
                <table class="table table-striped table-bordered">
                <thead>
                    <tr role="row">
                        <th style="width: 5%;"></th>
                        <th style="width: 25%;">{% trans 'institute' %}</th>
                        <th style="width: 25%;">{% trans 'date' %}</th>
                        <th style="width: 25%;">{% trans 'degree' %}</th>
                        <th style="width: 20%;">{% trans 'setting' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for education in request.user.educations.all %}
                    <tr role="row" class="odd">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td style="text-align: center;">{{ education.institution }}</td>
                        <td style="text-align: center;">{{ education.date }}</td>
                        <td style="text-align: center;">{% trans education.degree %}</td>
                        <td align="center">
                            {% DocumentsLink object=education component_name='education-data' %}
                            &nbsp;&nbsp;
                            <a href="{% url 'P001:education-edit' id=education.id %}" data-toggle='modal' data-target='#modal' class="general-link">
                                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;{% trans 'edit' %}
                            </a>
                            &nbsp;&nbsp;
                            <a href="{% url 'P001:education-confirm' id=education.id %}" data-toggle='modal' data-target='#modal' class="general-link">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{% trans 'delete' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>     
            </div>
        </div>
{% endblock %}