.chart-outer {
    max-width: 800px;
    margin: 2em auto;
    }
    #container {    
        height: 1000px;
        margin-top: 2em;
        min-width: 400px;
    }
    .highcharts-container{
        /* min-width: 400px; */
        width: 100% !important;
    }
    .highcharts-table-caption {
        margin-bottom: 5px;
        font-family: sans-serif;
        font-size: 14pt;
    }
    .highcharts-data-table table {
        border-collapse: collapse;
        border-spacing: 0;
        background: white;
        min-width: 100%;
        margin-top: 10px;
    }
    .highcharts-data-table td, .highcharts-data-table th {
        text-align: center;
        font-family: sans-serif;
        font-size: 10pt;
        border: 1px solid silver;
        padding: 0.5em;
    }
    .highcharts-data-table tr:nth-child(even), .highcharts-data-table thead tr {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #eff;
    }

.org-chart .highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
  }
  
  .org-chart .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  .org-chart .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .org-chart .highcharts-data-table th {
      font-weight: 600;
    padding: 0.5em;
  }
  .org-chart .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .org-chart .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .org-chart .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  
  .org-chart #container h4 {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
  }
  .org-chart #container p {
    font-size: 13px;
    line-height: 16px;
  }
  
  @media screen and (max-width: 600px) {
    .org-chart #container h4 {
      font-size: 2.3vw;
      line-height: 3vw;
    }
    .org-chart #container p {
      font-size: 2.3vw;
      line-height: 3vw;
    }
  }

  /******************************************/

.bubble-chart .highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
}

.bubble-chart .highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.bubble-chart .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.bubble-chart .highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.bubble-chart .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.bubble-chart .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.bubble-chart .highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*************************************************/

.bar-chart .highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 100%;
  margin: 1em auto;
}

.bar-chart #container {
  height: 700px;
}

.bar-chart .highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.bar-chart .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.bar-chart .highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.bar-chart .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.bar-chart .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.bar-chart .highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/******************************************************************************/

.request-chart .highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 1em auto;
}

.request-chart .highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}

.request-chart .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.request-chart .highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}

.request-chart .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}

.request-chart .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.request-chart .highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.request-chart #button-bar {
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}

