{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load workflow_tags %}
{% block page_title %}{% trans 'P002' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:workflow-chart-selection' content_type_id=contentType.pk %}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'workflow library' %}</li>
    <li class="breadcrumb-back">{{ chart }}</li>
{% endblock %}
{% block content %}
<section class="add">

    <div class="row">
        <div class="col-lg-6">
        <div class="panel panel-default report-config-panel">
            <div class="panel-heading">
                <i class="fa fa-fas fa-file-alt"></i> {% trans 'request data sheet' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-striped table-bordered" style="width: 100%;" role="grid" aria-describedby="mydata">
                <thead>
                    <tr role="row">
                        <th style="width: 5%;">&nbsp;</th>
                        <th style="width: 20%; text-align: right;">{% trans 'the action' %}</th>
                        <th style="width: 25%; text-align: right;">{% trans 'the executor' %}</th>
                        <th style="width: 50%;">{% trans 'data form' %}</th>
                    </tr>
                </thead>
                <tbody>
                    
                {% for action, form in form_list.items %}
                    <tr role="row" class="odd">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td style="text-align: right;">
                            {{ action.name }}
                        </td>
                        <td style="text-align: right;">
                            {% trans action.executor_type %}<br>
                            {% if action.executor.get_full_name %}<span class="hint">({{ action.executor.get_full_name }})</span>{% endif %}
                        </td>
                        <td style="text-align: center;">
                            <table class="table" style="text-align: right;">
                                <tr>
                                    <td width="25%"></td>
                                    <td width="75%"></td>
                                </tr>
                                {{ form.as_table }}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                    </div>
                </div>
            </div>
        </div>  
            
        </div>
        <div class="col-lg-6">
        <div class="panel panel-default report-config-panel">
            <div class="panel-heading">
                <i class="fa fa-fas fa-network-wired"></i> {% trans 'chart' %}
            </div>
            <div class="panel-body">
                <div class="row" style="direction: ltr; text-align: center">
                    <div class="col-lg-12">
                        <div id="chartContainer"></div>
                    </div>
                </div>
            </div>
        </div>
            
        </div>
    </div>

</section>
{% endblock %}
{% block footer %}
    {% WorkflowChartDiagram action_id=start_action_pk current_id=0 containerId='chartContainer' %}    
{% endblock %}