{% extends "base/header/system_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-4"></div>
            <div class="col-lg-4"><img src="{% static 'theme/images/kashta.jpg' %}" alt=""></div>
            <div class="col-lg-4"></div>

            <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #057e8f; color: #fff; align-content: right; padding: 20px;">
                <p>كاشتا لاب، شركة سودانية تعمل بصورة أساسية في تقديم خدمات وحلول تقنية المعلومات، تمتلك الشركة أسماء أعمال تعمل في مجالات أخرى ) بلاد النور، باتنجان ).</p>
            </div>

        </div>
    </div>

    <div class="divider"></div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">مجالات العمل</a></li>
        <li><a href="#assets" data-toggle="tab">الأصول الثابتة</a></li>
        <li><a href="#preparations" data-toggle="tab">الأصول المعنوية</a></li>
        <li><a href="#plan" data-toggle="tab">الخطة التشغيلية 2021</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <h4>المنتجات</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="20%" style="text-align: right;">النظام</td>
                        <td width="55%" style="text-align: right;">وصف</td>
                        <td width="20%" style="text-align: right;">الأدوات</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">Deep Ocean ERP</td>
                        <td align="right">نظام إدارة موارد متكامل، تم بناؤه خلال عام ونصف، تم إستصحاب خلاصات نتائج العمل السابقة فيه، يمثل بنية تقنية يمكن إستخراج مشاريع عديدة منه.</td>
                        <td align="right">Python/Django</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">Kashta LMS</td>
                        <td align="right">منصة تعليم إلكتروني عبر طريقة التدريس غير المتزامن</td>
                        <td align="right">Python/Django</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">Kashta NGO</td>
                        <td align="right">منصة العمل الخيري والإجتماعي، تشتمل المنصة على عمليات إدارة وتوزيع المساعدات بجانب بناء وتنفيذ الخطط التشغيلية والمشاريع</td>
                        <td align="right">Python/Django</td>
                    </tr>
                </tbody>
            </table>

            <div class="divider"></div>

            <h4>المشاريع</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">المشروع/الخدمة</td>
                        <td width="70%" style="text-align: right;">تفاصيل</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">تطوير تطبيقات الجوال</td>
                        <td align="right">تقوم كاشتا بتنفيذ مشاريع بناء تطبيقات الجوال لصالح العملاء وفق خطة تنفيذ وعقد محدد</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">تطوير أنظمة إدارة الموارد</td>
                        <td align="right">تقوم كاشتا بتطوير وتشغيل أنظمة إدارة الموارد لصالح العملاء وفق خطط تنفيذ وعقود محدده</td>
                    </tr>
                </tbody>
            </table>

            <div class="divider"></div>

            <h4>الخدمات</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">الخدمة</td>
                        <td width="15%" style="text-align: right;">النوع</td>
                        <td width="55%" style="text-align: right;">تفاصيل</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">مدرسة باتنجان</td>
                        <td align="right">إبتدائي</td>
                        <td align="right">مدرسة إفتراضية، تقوم بتدريس المنهج السوداني للمرحلة الإبتدائية</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">مدرسة باتنجان</td>
                        <td align="right">الثانوية</td>
                        <td align="right">مدرسة إفتراضية تقوم بتدريس المنهج السوداني للمرحلة الثانوية</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">خدمة التوظيف عن بعد</td>
                        <td align="right"></td>
                        <td align="right">تقدم كاشتا خدمة التوظيف عن بعد للشركات الخليجية وفق منظومة عمل وعقود محددة</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="plan">
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">الفترة</td>
                        <td width="30%" style="text-align: right;">الهدف العام</td>
                        <td width="40%" style="text-align: right;">الأهداف التفصيلية</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">يناير - أبريل</td>
                        <td align="right">التأسيس</td>
                        <td align="right">
                            <ol>
                                <li>تهيأة المقر</li>
                                <li>تكوين فريق العمل</li>
                                <li>تجهيز معدات العمل</li>
                                <li>بناء أدوات العمل</li>
                                <li>بناء الإصدارة الأولى من المنتجات</li>
                                <li>بناء منظومة المشاريع</li>
                                <li>بناء منظومة الخدمات</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">مايو - ديسمبر</td>
                        <td align="right">التوسع</td>
                        <td align="right">
                            <ol>
                                <li>زيادة عدد العملاء</li>
                                <li>تحقيق وزيادة الإيرادات</li>
                                <li>تجويد المنتجات </li>
                                <li>توسيع فريق العمل</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="assets">
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">الأصل</td>
                        <td width="20%" style="text-align: right;">الحالة</td>
                        <td width="50%" style="text-align: right;">القيمة</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">جهاز PC DELL كامل</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">90000</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">مكتب خشب</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">18000</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td align="right">مكتب خشب </td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">18000</td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td align="right">سبورة White Board</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">3000</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td align="right">مبرد ماء</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">30000</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td align="right">أنبوبة غاز + دافور</td>
                        <td align="right">مستعمل بحالة ممتازة</td>
                        <td align="right">25000</td>
                    </tr>
                    <tr style="background-color: #00a8d8; color: #fff;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="left">الإجمالي</td>
                        <td align="right">184,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
                <div class="tab-pane fade" id="preparations">
            <table class="table">
                <thead>
                    <tr>
                        <td width="5%">#</td>
                        <td width="25%" style="text-align: right;">البند</td>
                        <td width="45%" style="text-align: right;">التفاصيل</td>
                        <td width="25%" style="text-align: right;">التكلفة التقديرية للإنشاء</td>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="right">إجراءات تسجيل رسمية</td>
                        <td align="right">بالمسجل التجاري</td>
                        <td align="right">40000</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td align="right">هوية مكتملة</td>
                        <td align="right">شعار + مطبوعات</td>
                        <td align="right">50000</td>
                    </tr>
                    <tr style="background-color: #00a8d8; color: #fff;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="left">الإجمالي</td>
                        <td align="right">90000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}