{% load static %}
{% load i18n %}

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'website' %}">{{ request.organization }}ss</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">

          <li class="dropdown">

              <a href="{% url 'P000:website-home' %}">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <span>{% trans 'sign-in' %}</span>
              </a>

          </li>

      <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse collapse" style="height: 1px;">
          <ul class="nav in" id="side-menu">
          
                {% comment %} <li>
                  <a href="/">
                    <img src="{% static 'theme/images/logo.png' %}" class='img-logo'>
                  </a>
                </li> {% endcomment %}

                <li>
                    <a href="{% url 'website' %}">
                      <i class="fa fa-square"></i>
                      {% trans 'home'%}
                    </a>
                </li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>