{% extends "base/header/system_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
<li class="breadcrumb-back">{% trans 'P001' %}</li>
<li class="breadcrumb-back">{{ user.get_full_name }}</li>
{% endblock %}
{% block content %}

    <div class="col-lg-12">
        <h1 style="color: #007c74;">منظومة متكاملة</h1>

        <p>تسعى كاشتا لاب لبناء منظومة عمل متكاملة من خلال ثلاثة مكونات ( كاشتا لاب، بلاد النور، باتنجان )، لتحقيق مجموعة أهداف، منها :</p>

        <ol>
            <li>تعزيز وتكامل الخدمات المقدمة.</li>
            <li>تحقيق إستقرار مالي عالي.</li>
            <li>توفير مرونة واسعة للإستجابة للمتغيرات والطوارئ.</li>
            <li>تعزيز أدوار الشركة في خدمة المجتمع.</li>
        </ol>

        <p>بجانب الأهداف أعلاه، تسعى كاشتا من خلال مكوناتها الثلاث إلى تحقيق مجموعة أغراض منها:</p>
        
        <ol>
            <li>تنويع الخدمات والمنتجات بين المتقدمة والتقليدية.</li>
            <li>تنويع مصادر الإيراد وتحقيق الأرباح من مصادر مختلفة.</li>
            <li>مشاركة وتبادل التمويل وحفظ القيمة بين مكونات الشركة الثلاث.</li>
            <li>مشاركة الموارد البشرية والتقنية والأصول بين مكونات الشركة وتحقيق أقصى إستفادة منها لخدمة أهداف الشركة وتقليل الفاقد للحد الأدنى الممكن.</li>
            <li>إمكانية فتح أسواق جديدة بإستمرار للإستجابة لأي ظروف طارئة.</li>
        </ol>
    </div>

    <div class="col-lg-12">
            <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-lg-12"><img src="{% static 'theme/images/kashta.jpg' %}" alt=""></div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-lg-12"><img src="{% static 'theme/images/bladalnoor.png' %}" alt=""></div>
           </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-lg-12"><img src="{% static 'theme/images/batinjan.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">    
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-lg-12" style="background-color: #057e8f; color: #fff; align-content: right; padding: 20px;">
                    <p>كاشتا لاب، شركة سودانية تعمل بصورة أساسية في تقديم خدمات وحلول تقنية المعلومات، تمتلك الشركة أسماء أعمال تعمل في مجالات أخرى ) بلاد النور، باتنجان ).</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-lg-12" style="background-color: #00a8d8; color: #fff; align-content: right; padding: 20px;">
                    <p>بلاد النور، إسم عمل مملوك لشركة كاشتا، وهي مؤسسة أعمال تعمل في مجال مبيعات مواد التغليف للمطاعم والمستشفيات والفنادق، تسعى بلاد النور مستقبلاً للتوسع في مجالات الصناعة والزراعة والإستيراد والتصدير.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-lg-12" style="background-color:#461d3f; color: #fff; align-content: right; padding: 20px;">
                    <p>باتنجان، إسم عمل مملوك لشركة كاشتا، وهي أول مؤسسة أعمال سودانية ربحية متخصصة في تطوير التغذية المدرسية. تسعى المؤسسة لتحسين المستوى الغذائي والصحي بالمدارس وفق رؤية تشغيلية متكاملة ومتخصصة وخبرة علمية وعملية للمساهمة في تطوير قطاع التعليم في السودان.</p>
                </div>
            </div>
        </div>
    </div>


</div>								

{% endblock %}