{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'my data' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'my data' %}</li>
{% endblock %}

{% block content %}
    <section class="add">
        <div class="row">
            <div class="col-lg-2">{% userDataMenu %}</div>
            <div class="col-lg-10">

                <div class="row">
                    <div class="col-lg-2">
                        <img src="{{ user.profile.documents.first.file.url }}" class="img-responsive img-thumbnail">
                        <br>
                        {% DocumentsLink object=request.user.profile component_name='profile' %}
                    </div>
                    <div class="col-lg-10">
                        <form action="{% url 'P001:update-profile' %}" method="POST">
                            {% csrf_token %}
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#basic_data" data-toggle="tab">{% trans 'basic data' %}</a></li>
                                    <li><a href="#contact_data" data-toggle="tab">{% trans 'contact data' %}</a></li>
                                    <li><a href="#personal_data" data-toggle="tab">{% trans 'personal data' %}</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="basic_data">
                                        <table class="table">
                                            {{ basicDataForm.as_table }}
                                            <tr>
                                                <td width="15%">&nbsp;</td>
                                                <td width="85%">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="contact_data">
                                        <table class="table">
                                            {{ contactDataForm.as_table }}
                                            <tr>
                                                <td width="15%">&nbsp;</td>
                                                <td width="85%">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="personal_data">
                                        <table class="table">
                                            {{ personalDataForm.as_table }}
                                            <tr>
                                                <td width="15%">&nbsp;</td>
                                                <td width="85%">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning">{% trans 'update' %}</button>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </section>
{% endblock %}

