{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}

{% block tags %}
    {% datePickerTag  className='datepicker' %}
{% endblock %}

{% block page_title %}{% trans 'my data' %}{% endblock %}

{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'system specifications' %}</li>
{% endblock %}

{% block content %}
    <section class="user-specifications">
        <form action="{% url 'P001:system-specifications-update' %}" method="POST">
            {% csrf_token %}
            <table class="table">
                {{ UserSpecificationForm.as_table }}
                <tr>
                    <td width="15%"></td>
                    <td width="85%"><button type="submit" class="btn btn-warning">{% trans 'update' %}</button></td>            
                </tr>
            </table>
        </form>
    </section>
{% endblock %}