{% extends "base/header/modal_header.html" %}
{% load i18n %}
{% load static %}
{% block modal-header %}{% trans 'add' %}{% endblock %}
{% block modal-body %}
<section class="add">
    <form action="{% url 'Core:document-insert' model_class=model_class model_id=model_id component_name=component_name back_url=back_url back_type=back_type %}" method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
        {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success">{% trans 'save' %}</button>
    </form>
</section>
{% endblock %}
{% block modal-footer %}{% endblock %}