{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% block page_title %}{% trans 'tasks dashboard' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'tasks dashboard' %}</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            {% tasks_menu %}
        </div>
        <div class="col-lg-9">
            <table class="table">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="20%">{% trans 'the task' %}</td>
                    <td width="20%">{% trans 'assigned by' %}&nbsp;/&nbsp;{% trans 'assigned_date' %}</td>
                    <td width="20%">{% trans 'duration' %}</td>
                    <td width="15%">{% trans 'settings' %}</td>
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td></td>
                        <td>{{ task }}</td>
                        <td>{{ task.assigned_by.get_full_name }}&nbsp;/&nbsp;{{ task.assigned_date }}</td>
                        <td>{{ task.get_duration }}</td>
                        <td>
                            <a href="{% url 'Core:task-redirection' task_id=task.pk %}" class="general-link">
                                {% trans 'workflow task dashboard' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}