{% extends "base/header/browse_header.html" %}
{% load i18n %}
{% load static %}
{% load general_tags %}
{% load workflow_tags %}
{% block page_title %}{% trans 'P001' %}{% endblock %}
{% block crumbs %}
    <li class="breadcrumb-back"><a href="{% url 'P001:home'%}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-back">{% trans 'P001' %}</li>
    <li class="breadcrumb-back">{{ request.user.get_full_name }}</li>
    <li class="breadcrumb-back">{% trans 'permissions data' %}</li>
{% endblock %}
{% block content %}
<section class="permissions">
        <div class="row">
            <div class="col-lg-2">{% userRequestsMenu %}</div>
            <div class="col-lg-10">

                <div class="header-links">
                    {% RequestTopLinks component=component url='P001:permission-add' %}
                </div>

                <table class="table table-striped table-bordered dataTable">
                <thead>
                    <tr role="row">
                        <th style="width: 5%;">&nbsp;</th>
                        <th style="width: 25%; text-align: {{ LANGUAGE_START }};">{% trans 'permission requests' %}</th>
                        <th style="width: 20%;">{% trans 'action' %}</th>
                        <th style="width: 15%;">{% trans 'setting' %}</th>
                    </tr>
                </thead>
                <tbody>
                    
                {% for request in requests %}
                    <tr role="row" class="odd">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td style="text-align: {{ LANGUAGE_START }};">{{ request.permission }}&nbsp;{{ request.permission.logs.count }}</td>
                        <td style="text-align: center;">
                            {% RequestRowLinks request=request status=True browse=True %}
                        </td>
                        <td align="center">
                            {% if request.can_edit %}
                                {% DocumentsLink object=request.permission component_name='permission-request'  %}
                                &nbsp;&nbsp;
                                <a href="{% url 'P001:permission-edit' id=request.permission.id %}" class="general-link">
                                    <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;{% trans 'edit' %}
                                </a>
                                &nbsp;&nbsp;
                                <a href="{% url 'P001:permission-delete' id=request.permission.id %}" data-toggle='modal' data-target='#modal' class="general-link">
                                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{% trans 'delete' %}
                                </a>
                            {% else %}
                                {% RequestNote %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>     
            </div>
        </div>
{% endblock %}