{% load static %}
{% load i18n %}
{% load general_tags %}

{% if object.component.permitted_doc_no >= 1 %}
    <a href="{% url 'Core:document-add' model_class=object|class_name model_id=object.pk component_name=component_name back_url=back_url back_type='other' %}" data-toggle='modal' data-target='#modal' class="general-link">
        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;{% trans 'add' %}
    </a>
{% else %}
    <a href="#" class="un-active-link">
        {% trans 'document number permitted limit' %}
    </a>
{% endif %}